@model IEnumerable<Nuntius.Models.Newsheadline>
@using Nuntius.Helpers;
@{ 
    ViewBag.Title = "Subscriptions";
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <h2 class="text-center">@ViewBag.Title</h2>
            
            <hr />

            <!--Begin population of selected subscripions-->
            @foreach (var item in Model) {
                <div class="row">
                @for (int i = 0; i < item.Articles.Take(9).Count(); i++) {
                    <div class="col-sm-4 col xs-4 col-md-4 col-lg-4" style="margin-top: 0px;">
                        @{var lastWord = helperfunctions.hashing(item.Articles[i].Title);}

                        <div class="list-group">
                            <!--Article Image-->
                            <img src="@item.Articles[i].UrlToImage" class="img-thumbnail img-article-latest-news"/>
                            
                            <!--Article Link-->
                            <a class="list-group-item" data-id="0" href="@Url.Action("Index", "Article", new {id = lastWord, source = @item.Source})">
                               
                                 <!--Article Title-->
                                <p class="list-group-item-heading">
                                    <h3>@item.Articles[i].Title</h3>
                                </p>

                                <!--Article Description-->
                                <p class="blockquote-inverse">
                                    @item.Articles[i].Description
                                </p>
                            </a>

                            <!--Article Source Label-->
                            <a href="@item.Articles[i].Url">
                                <p href="" class="text-SourceSmall text-muted">
                                    <span class="label label-info">@item.Source.ToUpper()</span>
                                </p>
                            </a>
                            <br />
                        </div>
                        
                    </div>
                    }
                </div>
            }
            <!--End population of selected subscripions-->




        </div>
    </div>
</body>
</html>