@model IEnumerable<Nuntius.Models.Newsheadline>
@using Nuntius.Helpers;
<div class="container">
    @foreach (var item in Model)
        {
        <div class="row"style="margin-bottom: 10%; margin-top: 10%;">
        <h1 style="position: relative;">@item.Source</h1>
            
             @for (int i = 0; i < 4; i++)
             {

                 <div class="col-sm-3 col-md-3 col-lg-3" >
                   @{
                       var lastWord = helperfunctions.hashing(item.Articles[i].Title);
                   }
                   
                     <div class="list-group">
                         
                         <!--Article Image-->
                         <img src="@item.Articles[i].UrlToImage" class="img-responsive"/>

                         <!--Article Link-->
                         <a class="list-group-item" data-id="0" href="@Url.Action("Index", "Article", new {id = lastWord, source = @item.Source})">

                             <!--Article Title-->
                             <p class="list-group-item-heading">
                                 <h4>@item.Articles[i].Title</h4>
                             </p>
                             <!--Article Description-->
                           
                                <p class="blockquote-inverse" style="font-size: 12px;">
                                        @item.Articles[i].Description
                                    </p>
                             
                             <!--Article Author-->
                             <p class="blockquote-reverse text-muted" style="font-size: 12px;">Author: @item.Articles[i].Author</p>
                             <p class="blockquote-reverse text-muted" style="font-size: 12px;">Published: @item.Articles[i].PublishedAt</p>
                         </a>
                         <a href="@item.Articles[i].Url" class="list-group-item">
                             <p class="blockquote-reverse text-muted">Source: @item.Source.Replace('-', ' ')</p>
                           

                           
                         </a>
                           <a class="glyphicon-bullhorn" data-id="0" href="@Url.Action("Create", "Article", new { id = lastWord, source = item.Source})">Save to favorite</a>


                         @{



                         }
                     </div>
                     <br/>
                     <br/>
                     <br/>
                 </div>
             }

             <hr />    </div>   
        }
    
</div>