@model IList<Nuntius.Models.Source>

@{
    ViewBag.Title = "Subscriptions testtinging";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />

</head>

</html>


<h2>Index</h2>


<div class="row">
<<<<<<< HEAD
    @foreach (var item in Model)
    {
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img src="@Html.DisplayFor(modelItem => item.UrlsToLogos.Medium)" alt="...">
            </a>
        </div>


    }

=======
>>>>>>> 7ac4b7903ecc319dec15004731b76167086fbcc0
    @using (Html.BeginForm())
    {

        for (var i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>

                   @* @Html.HiddenFor(x=>x[i].description)*@
                    <input type="checkbox" name="sourceList" value="@Model[i].Id">
                </td>
                <td>
<<<<<<< HEAD
                    @Html.DisplayFor(x => x[i].Url)
=======
                    @Html.DisplayFor(x => x[i].name)
>>>>>>> 7ac4b7903ecc319dec15004731b76167086fbcc0
                </td>
            </tr>
        }
        <div>
<<<<<<< HEAD
            <input type="submit" value="" />
=======
            <input type="submit" value="save" />
>>>>>>> 7ac4b7903ecc319dec15004731b76167086fbcc0
        </div>
    }

</div>
