@model IList<Nuntius.Models.Source>

@{
    ViewBag.Title = "Manage Subscriptions";
}

<!DOCTYPE html>
<<<<<<< HEAD

<h4>Manage your subscriptions</h4>

@if (@ViewBag.SavedSubscription != null)
{
    <p>  @ViewBag.SavedSubscription</p>
}
<div class="row">


    @using (Html.BeginForm())
    {
        <ul id="ulsubs">
            @for (var i = 0; i < Model.Count; i++)
=======
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/Subscription.css" rel="stylesheet" />
</head>
<body>
    <div class="contaier">
        <div class="row">
            <h2 class="text-center">@ViewBag.Title</h2>
            <hr />

            <!--Begin populate list of available subscription sources-->
            @using (Html.BeginForm())
>>>>>>> 41d1769bf9300c314028250c1933a77603897351
            {

                <li id="lisubs">
                    @if (@ViewBag.Usersubs != null)
                    {

                        if (@ViewBag.Usersubs.Contains(@Model[i].Id))
                        {
                            <input type="checkbox" id=@i name="sourceList" value="@Model[i].Id">
                            <label id="already" for=@i><img src="@Model[i].UrlsToLogos.Small" /></label>
                        }
                        else
                        {
                            <input type="checkbox" id=@i name="sourceList" value="@Model[i].Id">
                            <label for=@i><img src="@Model[i].UrlsToLogos.Small" /></label>
                        }
                    }
                    @if (@ViewBag.Usersubs == null)
                    {

                        <input type="checkbox" id=@i name="sourceList" value="@Model[i].Id">
                        <label for=@i><img src="@Model[i].UrlsToLogos.Small" /></label>
                    }




                </li>





            }
        </ul>


        <div>
            <input type="submit" value="save" />
        </div>
    }

</div>