@model IList<Nuntius.Models.Source>

@{
    ViewBag.Title = "Manage Subscriptions";
}

<!DOCTYPE html>

<h4>Manage your subscriptions</h4>

@if (@ViewBag.SavedSubscription != null)
{
    <p>  @ViewBag.SavedSubscription</p>
}
<div class="row">
 
    @*@foreach (var item in Model)
    {
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img class="submit"src="@item.UrlsToLogos.Small" alt="...">
            </a>
        </div>
        

    }*@

    @using (Html.BeginForm())
    {
        <ul id="ulsubs">
            @for (var i = 0; i < Model.Count; i++)
            { 
         
                <li id="lisubs">
                    @if (@ViewBag.Usersubs != null)
                    {

                        if (@ViewBag.Usersubs.Contains(@Model[i].Id))
                        {
                                <input type="checkbox" id=@i name="sourceList" value="@Model[i].Id">
                                <label id="already" for=@i><img src="@Model[i].UrlsToLogos.Small" /></label>
                            }
                            else
                            {
                                <input type="checkbox" id=@i name="sourceList" value="@Model[i].Id">
                                <label for=@i><img src="@Model[i].UrlsToLogos.Small" /></label>
                            }
                    }
                    @if (@ViewBag.Usersubs == null)
                    {

                            <input type="checkbox" id=@i name="sourceList" value="@Model[i].Id">
                            <label for=@i><img src="@Model[i].UrlsToLogos.Small" /></label>
                      }
                  


                  
                </li>

          



            }
        </ul>


        <div>
            <input type="submit" value="save"/>
        </div>
    }

</div>
