@model IList<Nuntius.Models.Source>
@{

    ViewBag.Title = "Manage Subscriptions";
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <h2>Subscription</h2>
<h4>Manage your subscriptions</h4>


<div class="row">

    @*@foreach (var item in Model)
    {
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img class="submit"src="@item.UrlsToLogos.Small" alt="...">
            </a>
        </div>


    }*@

    @using (Html.BeginForm())
    {
        <ul>
            @for (var i = 0; i < Model.Count; i++)
            {

                <li>
                    @if (@ViewBag.Usersubs != null)
                    {

                        if (@ViewBag.Usersubs.Contains(@Model[i].Id))
                        {
                                <input type="checkbox" id=@i name="sourceList" value="@Model[i].Id">
                                <label id="already" for=@i><img src="@Model[i].UrlsToLogos.Small" /></label>
                            }
                            else
                            {
                                <input type="checkbox" id=@i name="sourceList" value="@Model[i].Id">
                                <label for=@i><img src="@Model[i].UrlsToLogos.Small" /></label>
                            }
                    }
                    @if (@ViewBag.Usersubs == null)
                    {

                            <input type="checkbox" id=@i name="sourceList" value="@Model[i].Id">
                            <label for=@i><img src="@Model[i].UrlsToLogos.Small" /></label>
                      }
                </li>

            @*<input type="checkbox" name="sourceList" value="@Model[i].Id">
            @Html.DisplayFor(x => x[i].Url)
            @Html.DisplayFor(x => x[i].Name)*@
                   @* @Html.HiddenFor(x=>x[i].description)*@
            }
        </ul>


        <div>
            <input type="submit" value="save"/>
        </div>
    }

    </body>
    </html>
