@model IList<Nuntius.Models.Source>

@{
    ViewBag.Title = "Subscriptions";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />

</head>

</html>


<h2>Index</h2>


<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img src="@Html.DisplayFor(modelItem => item.UrlsToLogos.Medium)" alt="...">
            </a>
        </div>


    }

    @using (Html.BeginForm())
    {

        for (var i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>

                   @* @Html.HiddenFor(x=>x[i].description)*@
                    <input type="checkbox" name="sourceList" value="@Model[i].Id">
                </td>
                <td>
                    @Html.DisplayFor(x => x[i].Url)
                    @Html.DisplayFor(x => x[i].Name)

                </td>
            </tr>
        }
        <div>
            <input type="submit" value="save" />
        </div>
    }

</div>
