@model Nuntius.Models.NewsSource

@{
        ViewBag.Title = "Latest News";
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container ">
        <div class="row">
            <h2 class="text-center">Latest News</h2>
            <hr />

            @foreach (var item in Model.Newsheadline.Articles.Take(8))
            {
                string sourceUrl = item.Url;

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <section>
                        <!--Article Image-->
                        <img src="@item.UrlToImage" class="img-thumbnail img-article-latest-news" />

                        <!--Article Link-->
                        <a href="@item.Url" class="list-group-item">

                            <!--Article Title-->
                            <p class=""><h4>@item.Title</h4></p>

                            <blockquote class="small blockquote-reverse">
                                <p>@item.Description</p>
                                <small>
                                    @if (item.PublishedAt != null)
                                    {
                                        @item.PublishedAt.Substring(11, Math.Min(item.PublishedAt.Length, 5))
                                        @item.PublishedAt.Substring(0, Math.Min(item.PublishedAt.Length, 10))
                                    }
                                </small>

                            </blockquote>

                        </a>
                    </section>
                    <br />
                    <br />
                    <br />

                </div>
            }
           

        </div>
        <ul class="pager">
            <li class="previous"><a href="#">&larr; Older</a></li>
        </ul>
    </div>

</body>
</html>

﻿
