@model Nuntius.Models.Newsheadline

@{
        ViewBag.Title = "Latest News";
}

<div class="container ">
    <br />
    <br />

    @foreach (var item in Model.Articles) {
        string sourceUrl = item.Url;

        <div class="col-sm-5 col-md-4 col-lg-4">
            <div class="list-group">                
                <!--Article Image-->
                <img src="@item.UrlToImage" class="img-responsive" />

                <!--Article Link-->
                <a href="@item.Url" class="list-group-item">
                    <!--Article Title-->
                    <p class="list-group-item-heading"><h3>@item.Title</h3></p>
                    <!--Article Description-->
                    <p class="blockquote-inverse">@item.Description</p>
                    <!--Article Author-->
                    <p class="blockquote-reverse text-muted">Author: @item.Author</p>
                    <p class="blockquote-reverse text-muted">Published: @item.PublishedAt</p>
                    <p class="blockquote-reverse text-muted">Source:</p>
                </a>
            </div>
                <hr />
          </div>
    }


</div>


