@model Nuntius.Models.Newsheadline

@{
        ViewBag.Title = "Latest News";


}

<div class="container ">
    <div class="row">
        <hr />

        @foreach (var item in Model.Articles.Take(9))
        {
            string sourceUrl = item.Url;

            <div class="col-lg-4 col-md-4 col-sm-4">
                <!--Article Image-->
                <img src="@item.UrlToImage" class="img-responsive" />

                <!--Article Link-->
                <a href="@item.Url" class="list-group-item">

                    <!--Article Title-->
                    <p class="list-group-item-heading"><h4>@item.Title</h4></p>

                    <!--Article Description (15 characters atm..) -->
                    <p class="blockquote-inverse">@item.Description.Substring(0, Math.Min(item.Description.Length, 40))...</p>

                    <!--Article Author-->
                    <p class="blockquote-reverse text-muted">@item.Author</p>

                    <!--Article Published-->
                    <p class="blockquote-reverse text-muted"> </p>
                 </a>

<br />

</div>

        }


    </div>
</div>



