@using Nuntius.Helpers
@model Nuntius.Models.NewsSource


@{
        ViewBag.Title = "Latest News";
}

<div class="container ">
    <br />
    <br />

    @foreach (var item in Model.Newsheadline.Articles) {
        var sourceUrl = item.Url.Split('/').Last();

        <div class="col-sm-3 col-md-4 col-lg-4">
            <div class="list-group" style="text-overflow: clip;">                
                <!--Article Image-->
                <img src="@item.UrlToImage" class="img-responsive" />

                <!--Article Link-->
                <a href="@item.Url" class="list-group-item">
                    <!--Article Title-->
                    <p class="list-group-item-heading"><h3>@item.Title</h3></p>
                    <!--Article Description-->
                    <p class="blockquote-inverse">@item.Description</p>
                    <!--Article Author-->
                    <p class="blockquote-reverse text-muted">Author: @item.Author</p>
                    <p class="blockquote-reverse text-muted">Published: @item.PublishedAt</p>
                    <p class="blockquote-reverse text-muted">Source:</p>
                </a>
            </div>
            
            @{
                var lastWord = helperfunctions.hashing(@item.Title);

                <a class="glyphicon-bullhorn" data-id="0" href="@Url.Action("Index", "Article", new { id = lastWord, source = Model.Source.Id})">View Article</a>

            }
            <hr />
          </div>
    }


</div>


