@model Nuntius.Models.Article

@{
    ViewBag.Title = "Details";
}

<div class="container-fluid">
<h2>Details</h2>


    <h4>Article</h4>
    <hr />
    @{  var lastWord = @Model.Title.Split(' ').Last();}
  
      <a class="glyphicon-bullhorn" data-id="0" href="@Url.Action("Create", null, new { id = lastWord, source = @ViewBag.Source})">Save to favorites</a>
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="list-group">
            <!--Article Image-->
            <img src="@Model.UrlToImage" class="img-responsive" />

            <!--Article Link-->
            <a href="@Model.Url" class="list-group-item">
                <!--Article Title-->
                <p class="list-group-item-heading"><h3>@Model.Title</h3></p>
                <!--Article Description-->
                <p class="blockquote-inverse">@Model.Description</p>
                <!--Article Author-->
                <p class="blockquote-reverse text-muted">Author: @Model.Author</p>
                <p class="blockquote-reverse text-muted">Published: @Model.PublishedAt</p>
                <p class="blockquote-reverse text-muted">Source:</p>
            </a>
        </div>
    </div>
        @*<dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Author)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Author)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Title)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Title)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Url)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Url)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.UrlToImage)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UrlToImage)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PublishedAt)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PublishedAt)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SourceId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SourceId)
                </dd>

            </dl>*@
    </div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.ArticleId }) |
    @Html.ActionLink("Back to List", "Index")*@
</p>

<div >profiel picture @ViewBag.profilePic</div>
<div class="container">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <div class="row">
        <!-- Contenedor Principal -->
        <div class="comments-container">
            <h1>Comments</h1>
            <ul>
                <li>
                    <div class="comment-main-level">
                        <div class="comment-box">
                            <div class="comment-head">
                                <i id="SendComment" class="glyphicon glyphicon-send"></i>
                            </div>
                            <div class="comment-content">
                                <form>
                                    <div class="form-group">
                                        <label for="message-text" class="control-label">Comment:</label>

                                        <textarea class="form-control" id="message-text"></textarea>

                                        <input id="urlId" hidden value="@Html.DisplayFor(model => model.Url)" />

                                        <input id="articleSource" hidden value="@ViewBag.Source" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </li>
            </ul>
            <input id="url" hidden value="@Html.DisplayFor(model => model.Url)" />
            <ul id="comments-list" class="comments-list">

                
            </ul>
            
        </div>
    </div>
</div>







@*<div id="divMessage"></div>

<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<form>
    <div class="form-group">
        <label for="message-text" class="control-label">Message:</label>

        <textarea class="form-control" id="message-text"></textarea>

        <input id="urlId" hidden value="@Html.DisplayFor(model => model.Url)" />

        <input id="articleSource" hidden value="@ViewBag.Source" />
    </div>
</form>*@

