@model Nuntius.Models.ArticleSource

<div class="container-fluid">

    <hr />
    @{  var lastWord = Uri.EscapeDataString(@Model.Article.Url);
    }

    <a class="glyphicon-bullhorn" data-id="0" href="@Url.Action("Create", "Article", new { id = lastWord, source = @Model.Source.Id })">Save to favorites</a>
    <div class="row">
        <div class="col-sm-12 col-md-7 col-lg-7">
            <div class="list-group">
                <!--Article Image-->
                <img src="@Model.Article.UrlToImage" class="img-responsive" />

                <!--Article Link-->
                <a href="@Model.Article.Url" class="list-group-item">
                    <!--Article Title-->
                    <p class="list-group-item-heading"><h3>@Model.Article.Title</h3></p>
                    <!--Article Description-->
                    <p class="blockquote-inverse" style="text-overflow: clip;">@Model.Article.Description</p>
                    <!--Article Author-->
                    <p class="blockquote-reverse text-muted">Author: @Model.Article.Author</p>
                    <p class="blockquote-reverse text-muted">Published: @Model.Article.PublishedAt</p>
                    <p class="blockquote-reverse text-muted">Source:</p>
                </a>
            </div>

        </div>
        <div class="col-sm-12 col-md-5 col-lg-5">

            @for (int i = 0; i < 4; i++)
            {
                <div class="col-md-12 jasgrid">
                    <div class="box-item">
                        <div class="box-post">
                            <span class="label label-success">
                                <a href="#" rel="tag">Travel</a>
                            </span>
                            <h4 class="post-title">
                                <a href="#">
                                    @Html.DisplayFor(model => model.Articles[i].Title)
                                    </a >
                        </h4 >
                                    <span class="meta">
                                    <span><i class="glyphicon glyphicon-comment"></i> <a href=""> No Comments</a></span>
                                    <span>
                                        <i class="glyphicon glyphicon-time"></i> @Html.DisplayFor(model => model.Articles[i].PublishedAt)</span >
                                    </span >
                        </div>
                    <img src = "@Html.DisplayFor(model => model.Articles[i].UrlToImage)" alt = ""
                    class="">
                </div>
            </div>
            }

        </div>
    </div>

    <div class="row">
            
        <!-- Contenedor Principal -->
        <div class="comments-container">
            <div class="status-upload">
  
                    <textarea id="message-text" placeholder="Write a comment?"></textarea>
                   
                    <input id="urlId" hidden value="@Html.DisplayFor(model => model.Article.Url)" />
                    <input id="articleSource" hidden value="@Model.Source.Id" />

            </div>

                <div class="btn-group btn-group-justified">
                     <span class="btn-group">
            <button id="SendComment" class="btn btn-default" ><i class="fa fa-send"></i></button>
                         </span>
                    <span class="btn-group">
                        <button onclick="ShowComments()" class="btn btn-default" ><i class="fa fa-comment"></i> </button>
                        </span>
</div>
            <div id="showAlert">

            </div>
            <input id="url" hidden value="@Html.DisplayFor(model => model.Article.Url)" />
            <ul id="comments-list" class="comments-list"></ul>

        </div>
    </div>
</div>
