@model Nuntius.Models.ArticleSource
@{
    ViewBag.Title = "Article Details";
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <h2 class="text-center"></h2>
            <hr />
            @{ var lastWord = Uri.EscapeDataString(@Model.Article.Url); }

            <a class="" data-id="0" href="@Url.Action("Create", "Article", 
                new { id = lastWord, source = @Model.Source.Id})"> <span class="fa-heart-o"></span>
            </a>

                <div class="list-group">
                    <!--Article Image-->
                    <img src="@Model.Article.UrlToImage" class="img-responsive img-thumbnail"/>

                    <!--Article Link-->

                    <!--Article Title-->

                    <!--Article Description-->

                    <!--Article Author-->
                </div>

            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />

        </div>
    </div>
</body>
</html>


<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.ArticleId }) |
    @Html.ActionLink("Back to List", "Index")*@
</p>

<!---
    <div class="container">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <div class="row">
        <div class="comments-container">
            <h1>Comments</h1>
            <div id="showAlert">

            </div>
            <ul>
                <li>
                    <div class="comment-main-level">
                        <div class="comment-box">
                            <div class="comment-head">
                                <i id="SendComment" class="glyphicon glyphicon-send"></i>
                            </div>
                  
                            <div class="comment-content">
                                <form>
                                    <div class="form-group">
                                        <label for="message-text" class="control-label">Comment:</label>

                                        <textarea class="form-control" id="message-text"></textarea>

                                        <input id="urlId" hidden value="@Html.DisplayFor(model => model.Article.Url)" />

                                        <input id="articleSource" hidden value="@Model.Source.Id" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </li>
            </ul>
            <input id="url" hidden value="@Html.DisplayFor(model => model.Article.Url)" />
            <ul id="comments-list" class="comments-list">

                
            </ul>
            
        </div>
    </div>

--->




    <!--        
<div class="row">
<div class="col-sm-4">
<div class="news">
    <div class="img-figure">
        <img class="img-responsive" src="http://136.243.1.253/~creolitic/bootsnipp/fashion.jpg">
    </div>

    <div class="title">
        <h1>The start of the web and web design</h1>
    </div>

    <p class="description">
        If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden...
    </p>

    <p class="more">
        <a href="#">read more</a><i class="fa fa-angle-right" aria-hidden="true"></i>
    </p>
      </div>


</div>
</div>
</div>
-->
